lib/src/test/resources/project/api-dep/src/main/mule/fhir-r4-endpoint-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <http:listener-config name="fhir-r4-endpoint-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="fhir-r4-endpoint-api-config" api="resource::org.mule.examples:fhir-r4-endpoint-api:1.0.3:raml:zip:fhir-r4-endpoint-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="fhir-r4-endpoint-api-main">
        <http:listener config-ref="fhir-r4-endpoint-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="fhir-r4-endpoint-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="fhir-r4-endpoint-api-console">
        <http:listener config-ref="fhir-r4-endpoint-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="fhir-r4-endpoint-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\Endpoint:fhir-r4-endpoint-api-config">
        <logger level="INFO" message="put:\Endpoint:fhir-r4-endpoint-api-config" />
    </flow>
    <flow name="put:\Endpoint\(id):application\fhir+json:fhir-r4-endpoint-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="put:\Endpoint\(id):application\fhir+json:fhir-r4-endpoint-api-config" />
    </flow>
    <flow name="put:\Endpoint\(id):application\fhir+xml:fhir-r4-endpoint-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="put:\Endpoint\(id):application\fhir+xml:fhir-r4-endpoint-api-config" />
    </flow>
    <flow name="delete:\Endpoint:fhir-r4-endpoint-api-config">
        <logger level="INFO" message="delete:\Endpoint:fhir-r4-endpoint-api-config" />
    </flow>
    <flow name="delete:\Endpoint\(id):fhir-r4-endpoint-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\Endpoint\(id):fhir-r4-endpoint-api-config" />
    </flow>
    <flow name="get:\Endpoint:fhir-r4-endpoint-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  resourceType: "Bundle",
  id: "b0a5e4277-83c4-4adb-87e2-e3efe3369b6f",
  meta: {
    lastUpdated: "2012-05-29T23:45:32Z"
  },
  "type": "collection",
  entry: [
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/71",
      resource: {
        resourceType: "Endpoint",
        id: "71",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              CarePlan repository, CarePlan<br/>\n              Address: https://sqlonfhir-dstu2.azurewebsites.net/fhir</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "hl7-fhir-rest"
        },
        name: "CarePlan repository",
        managingOrganization: {
          display: "Telstra Health"
        },
        payloadType: [
          {
            coding: [
              {
                code: "CarePlan"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/fhir+xml"
        ],
        address: "https://sqlonfhir-dstu2.azurewebsites.net/fhir"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/72",
      resource: {
        resourceType: "Endpoint",
        id: "72",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Questionnaire Destination, QuestionnaireResponse<br/>\n              Address: https://sqlonfhir-dstu2.azurewebsites.net/fhir</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "hl7-fhir-rest"
        },
        name: "Questionnaire Destination",
        managingOrganization: {
          display: "Telstra Health"
        },
        payloadType: [
          {
            coding: [
              {
                code: "QuestionnaireResponse"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/fhir+xml"
        ],
        address: "https://sqlonfhir-dstu2.azurewebsites.net/fhir"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/73",
      resource: {
        resourceType: "Endpoint",
        id: "73",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Referral Requests, ServiceRequest<br/>\n              Address: https://sqlonfhir-dstu2.azurewebsites.net/fhir</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "hl7-fhir-rest"
        },
        name: "Referral Requests",
        managingOrganization: {
          display: "Telstra Health"
        },
        payloadType: [
          {
            coding: [
              {
                code: "ServiceRequest"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/fhir+xml"
        ],
        address: "https://sqlonfhir-dstu2.azurewebsites.net/fhir"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/74",
      resource: {
        resourceType: "Endpoint",
        id: "74",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Referral Requests, ServiceRequest QuestionnaireResponse<br/>\n              Address: https://open.epic.com/Interface/FHIR</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "hl7-fhir-rest"
        },
        name: "Referral Requests",
        managingOrganization: {
          display: "Epic demo organization"
        },
        payloadType: [
          {
            coding: [
              {
                code: "ServiceRequest QuestionnaireResponse"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/fhir+json"
        ],
        address: "https://open.epic.com/Interface/FHIR"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/75",
      resource: {
        resourceType: "Endpoint",
        id: "75",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Subscription receiver, ServiceRequest<br/>\n              Address: mailto:subscriptions@example.org</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "secure-email"
        },
        name: "Subscription receiver",
        managingOrganization: {
          display: "Telstra Health"
        },
        payloadType: [
          {
            coding: [
              {
                code: "ServiceRequest"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/fhir+xml"
        ],
        address: "mailto:subscriptions@example.org"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/76",
      resource: {
        resourceType: "Endpoint",
        id: "76",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              valid usecase?, CDA-EventSummary<br/>\n              Address: https://sqlonfhir-dstu2.azurewebsites.net/fhir</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "hl7-fhir-msg"
        },
        name: "valid usecase?",
        managingOrganization: {
          display: "Telstra Health"
        },
        payloadType: [
          {
            coding: [
              {
                code: "CDA-EventSummary"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/pdf"
        ],
        address: "https://sqlonfhir-dstu2.azurewebsites.net/fhir"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/77",
      resource: {
        resourceType: "Endpoint",
        id: "77",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              v2 referral Requests, REF-I12<br/>\n              Address: 127.0.0.1</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "hl7v2-mllp"
        },
        name: "v2 referral Requests",
        managingOrganization: {
          display: "Epic demo organization"
        },
        payloadType: [
          {
            coding: [
              {
                code: "REF-I12"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/hl7-v2"
        ],
        address: "127.0.0.1"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/78",
      resource: {
        resourceType: "Endpoint",
        id: "78",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              xds event summaries, CDA-EventSummary<br/>\n              Address: https://open.epic.com/Interface/XDS.b</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "ihe-xds"
        },
        name: "xds event summaries",
        managingOrganization: {
          display: "Epic demo organization"
        },
        payloadType: [
          {
            coding: [
              {
                code: "CDA-EventSummary"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/hl7-sda+xml; variant=XDA/XDS"
        ],
        address: "https://open.epic.com/Interface/XDS.b"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/79",
      resource: {
        resourceType: "Endpoint",
        id: "79",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Enterprise Image Archive, varies (application/dicom, application/dicom+xml, image/jpeg, and many more)<br/>\n              Address: https://pacs.hospital.org/dicomweb</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "dicom-wado-rs"
        },
        name: "Enterprise Image Archive",
        managingOrganization: {
          display: "Multi-site Co."
        },
        payloadType: [
          {
            coding: [
              {
                code: "varies (application/dicom, application/dicom+xml, image/jpeg, and many more)"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/dicom; variant=DICOM WADO-RS"
        ],
        address: "https://pacs.hospital.org/dicomweb"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/80",
      resource: {
        resourceType: "Endpoint",
        id: "80",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Enterprise Image Archive, varies (application/dicom, application/dicom+xml, image/jpeg, and many more)<br/>\n              Address: https://pacs.hospital.org/dicomweb</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "dicom-qido-rs"
        },
        name: "Enterprise Image Archive",
        managingOrganization: {
          display: "Multi-site Co."
        },
        payloadType: [
          {
            coding: [
              {
                code: "varies (application/dicom, application/dicom+xml, image/jpeg, and many more)"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/dicom; variant=DICOM QIDO-RS"
        ],
        address: "https://pacs.hospital.org/dicomweb"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/81",
      resource: {
        resourceType: "Endpoint",
        id: "81",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Enterprise Image Archive, varies (application/dicom, application/dicom+xml, image/jpeg, and many more)<br/>\n              Address: https://pacs.hospital.org/dicomweb</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "dicom-stow-rs"
        },
        name: "Enterprise Image Archive",
        managingOrganization: {
          display: "Multi-site Co."
        },
        payloadType: [
          {
            coding: [
              {
                code: "varies (application/dicom, application/dicom+xml, image/jpeg, and many more)"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/dicom; variant=DICOM STOW-RS"
        ],
        address: "https://pacs.hospital.org/dicomweb"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/82",
      resource: {
        resourceType: "Endpoint",
        id: "82",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Enterprise Image Archive, varies (application/dicom, application/dicom+xml, image/jpeg, and many more)<br/>\n              Address: https://pacs.hospital.org/dicomweb</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "dicom-stow-rs"
        },
        name: "Enterprise Image Archive",
        managingOrganization: {
          display: "Multi-site Co."
        },
        payloadType: [
          {
            coding: [
              {
                code: "varies (application/dicom, application/dicom+xml, image/jpeg, and many more)"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/dicom; variant=DICOM STOW-RS"
        ],
        address: "https://pacs.hospital.org/dicomweb"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/83",
      resource: {
        resourceType: "Endpoint",
        id: "83",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Enterprise Image Archive, varies (application/dicom, application/dicom+xml, image/jpeg, and many more)<br/>\n              Address: https://pacs.hospital.org/wadoUri</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "dicom-wado-uri"
        },
        name: "Enterprise Image Archive",
        managingOrganization: {
          display: "Multi-site Co."
        },
        payloadType: [
          {
            coding: [
              {
                code: "varies (application/dicom, application/dicom+xml, image/jpeg, and many more)"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/dicom; variant=DICOM WADO-URI"
        ],
        address: "https://pacs.hospital.org/wadoUri"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/84",
      resource: {
        resourceType: "Endpoint",
        id: "84",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Enterprise Image Archive, varies (application/dicom, application/dicom+xml, image/jpeg, and many more)<br/>\n              Address: https://pacs.hospital.org/IHEInvokeImageDisplay</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "ihe-iid"
        },
        name: "Enterprise Image Archive",
        managingOrganization: {
          display: "Multi-site Co."
        },
        payloadType: [
          {
            coding: [
              {
                code: "varies (application/dicom, application/dicom+xml, image/jpeg, and many more)"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/dicom; variant=IHE IID"
        ],
        address: "https://pacs.hospital.org/IHEInvokeImageDisplay"
      }
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\Endpoint\_history:fhir-r4-endpoint-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  resourceType: "Bundle",
  id: "b0a5e4277-83c4-4adb-87e2-e3efe3369b6f",
  meta: {
    lastUpdated: "2012-05-29T23:45:32Z"
  },
  "type": "collection",
  entry: [
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/71",
      resource: {
        resourceType: "Endpoint",
        id: "71",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              CarePlan repository, CarePlan<br/>\n              Address: https://sqlonfhir-dstu2.azurewebsites.net/fhir</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "hl7-fhir-rest"
        },
        name: "CarePlan repository",
        managingOrganization: {
          display: "Telstra Health"
        },
        payloadType: [
          {
            coding: [
              {
                code: "CarePlan"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/fhir+xml"
        ],
        address: "https://sqlonfhir-dstu2.azurewebsites.net/fhir"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/72",
      resource: {
        resourceType: "Endpoint",
        id: "72",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Questionnaire Destination, QuestionnaireResponse<br/>\n              Address: https://sqlonfhir-dstu2.azurewebsites.net/fhir</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "hl7-fhir-rest"
        },
        name: "Questionnaire Destination",
        managingOrganization: {
          display: "Telstra Health"
        },
        payloadType: [
          {
            coding: [
              {
                code: "QuestionnaireResponse"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/fhir+xml"
        ],
        address: "https://sqlonfhir-dstu2.azurewebsites.net/fhir"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/73",
      resource: {
        resourceType: "Endpoint",
        id: "73",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Referral Requests, ServiceRequest<br/>\n              Address: https://sqlonfhir-dstu2.azurewebsites.net/fhir</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "hl7-fhir-rest"
        },
        name: "Referral Requests",
        managingOrganization: {
          display: "Telstra Health"
        },
        payloadType: [
          {
            coding: [
              {
                code: "ServiceRequest"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/fhir+xml"
        ],
        address: "https://sqlonfhir-dstu2.azurewebsites.net/fhir"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/74",
      resource: {
        resourceType: "Endpoint",
        id: "74",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Referral Requests, ServiceRequest QuestionnaireResponse<br/>\n              Address: https://open.epic.com/Interface/FHIR</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "hl7-fhir-rest"
        },
        name: "Referral Requests",
        managingOrganization: {
          display: "Epic demo organization"
        },
        payloadType: [
          {
            coding: [
              {
                code: "ServiceRequest QuestionnaireResponse"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/fhir+json"
        ],
        address: "https://open.epic.com/Interface/FHIR"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/75",
      resource: {
        resourceType: "Endpoint",
        id: "75",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Subscription receiver, ServiceRequest<br/>\n              Address: mailto:subscriptions@example.org</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "secure-email"
        },
        name: "Subscription receiver",
        managingOrganization: {
          display: "Telstra Health"
        },
        payloadType: [
          {
            coding: [
              {
                code: "ServiceRequest"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/fhir+xml"
        ],
        address: "mailto:subscriptions@example.org"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/76",
      resource: {
        resourceType: "Endpoint",
        id: "76",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              valid usecase?, CDA-EventSummary<br/>\n              Address: https://sqlonfhir-dstu2.azurewebsites.net/fhir</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "hl7-fhir-msg"
        },
        name: "valid usecase?",
        managingOrganization: {
          display: "Telstra Health"
        },
        payloadType: [
          {
            coding: [
              {
                code: "CDA-EventSummary"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/pdf"
        ],
        address: "https://sqlonfhir-dstu2.azurewebsites.net/fhir"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/77",
      resource: {
        resourceType: "Endpoint",
        id: "77",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              v2 referral Requests, REF-I12<br/>\n              Address: 127.0.0.1</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "hl7v2-mllp"
        },
        name: "v2 referral Requests",
        managingOrganization: {
          display: "Epic demo organization"
        },
        payloadType: [
          {
            coding: [
              {
                code: "REF-I12"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/hl7-v2"
        ],
        address: "127.0.0.1"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/78",
      resource: {
        resourceType: "Endpoint",
        id: "78",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              xds event summaries, CDA-EventSummary<br/>\n              Address: https://open.epic.com/Interface/XDS.b</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "ihe-xds"
        },
        name: "xds event summaries",
        managingOrganization: {
          display: "Epic demo organization"
        },
        payloadType: [
          {
            coding: [
              {
                code: "CDA-EventSummary"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/hl7-sda+xml; variant=XDA/XDS"
        ],
        address: "https://open.epic.com/Interface/XDS.b"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/79",
      resource: {
        resourceType: "Endpoint",
        id: "79",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Enterprise Image Archive, varies (application/dicom, application/dicom+xml, image/jpeg, and many more)<br/>\n              Address: https://pacs.hospital.org/dicomweb</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "dicom-wado-rs"
        },
        name: "Enterprise Image Archive",
        managingOrganization: {
          display: "Multi-site Co."
        },
        payloadType: [
          {
            coding: [
              {
                code: "varies (application/dicom, application/dicom+xml, image/jpeg, and many more)"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/dicom; variant=DICOM WADO-RS"
        ],
        address: "https://pacs.hospital.org/dicomweb"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/80",
      resource: {
        resourceType: "Endpoint",
        id: "80",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Enterprise Image Archive, varies (application/dicom, application/dicom+xml, image/jpeg, and many more)<br/>\n              Address: https://pacs.hospital.org/dicomweb</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "dicom-qido-rs"
        },
        name: "Enterprise Image Archive",
        managingOrganization: {
          display: "Multi-site Co."
        },
        payloadType: [
          {
            coding: [
              {
                code: "varies (application/dicom, application/dicom+xml, image/jpeg, and many more)"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/dicom; variant=DICOM QIDO-RS"
        ],
        address: "https://pacs.hospital.org/dicomweb"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/81",
      resource: {
        resourceType: "Endpoint",
        id: "81",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Enterprise Image Archive, varies (application/dicom, application/dicom+xml, image/jpeg, and many more)<br/>\n              Address: https://pacs.hospital.org/dicomweb</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "dicom-stow-rs"
        },
        name: "Enterprise Image Archive",
        managingOrganization: {
          display: "Multi-site Co."
        },
        payloadType: [
          {
            coding: [
              {
                code: "varies (application/dicom, application/dicom+xml, image/jpeg, and many more)"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/dicom; variant=DICOM STOW-RS"
        ],
        address: "https://pacs.hospital.org/dicomweb"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/82",
      resource: {
        resourceType: "Endpoint",
        id: "82",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Enterprise Image Archive, varies (application/dicom, application/dicom+xml, image/jpeg, and many more)<br/>\n              Address: https://pacs.hospital.org/dicomweb</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "dicom-stow-rs"
        },
        name: "Enterprise Image Archive",
        managingOrganization: {
          display: "Multi-site Co."
        },
        payloadType: [
          {
            coding: [
              {
                code: "varies (application/dicom, application/dicom+xml, image/jpeg, and many more)"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/dicom; variant=DICOM STOW-RS"
        ],
        address: "https://pacs.hospital.org/dicomweb"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/83",
      resource: {
        resourceType: "Endpoint",
        id: "83",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Enterprise Image Archive, varies (application/dicom, application/dicom+xml, image/jpeg, and many more)<br/>\n              Address: https://pacs.hospital.org/wadoUri</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "dicom-wado-uri"
        },
        name: "Enterprise Image Archive",
        managingOrganization: {
          display: "Multi-site Co."
        },
        payloadType: [
          {
            coding: [
              {
                code: "varies (application/dicom, application/dicom+xml, image/jpeg, and many more)"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/dicom; variant=DICOM WADO-URI"
        ],
        address: "https://pacs.hospital.org/wadoUri"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/84",
      resource: {
        resourceType: "Endpoint",
        id: "84",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Enterprise Image Archive, varies (application/dicom, application/dicom+xml, image/jpeg, and many more)<br/>\n              Address: https://pacs.hospital.org/IHEInvokeImageDisplay</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "ihe-iid"
        },
        name: "Enterprise Image Archive",
        managingOrganization: {
          display: "Multi-site Co."
        },
        payloadType: [
          {
            coding: [
              {
                code: "varies (application/dicom, application/dicom+xml, image/jpeg, and many more)"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/dicom; variant=IHE IID"
        ],
        address: "https://pacs.hospital.org/IHEInvokeImageDisplay"
      }
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\Endpoint\(id)\_history:fhir-r4-endpoint-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  resourceType: "Bundle",
  id: "b0a5e4277-83c4-4adb-87e2-e3efe3369b6f",
  meta: {
    lastUpdated: "2012-05-29T23:45:32Z"
  },
  "type": "collection",
  entry: [
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/71",
      resource: {
        resourceType: "Endpoint",
        id: "71",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              CarePlan repository, CarePlan<br/>\n              Address: https://sqlonfhir-dstu2.azurewebsites.net/fhir</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "hl7-fhir-rest"
        },
        name: "CarePlan repository",
        managingOrganization: {
          display: "Telstra Health"
        },
        payloadType: [
          {
            coding: [
              {
                code: "CarePlan"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/fhir+xml"
        ],
        address: "https://sqlonfhir-dstu2.azurewebsites.net/fhir"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/72",
      resource: {
        resourceType: "Endpoint",
        id: "72",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Questionnaire Destination, QuestionnaireResponse<br/>\n              Address: https://sqlonfhir-dstu2.azurewebsites.net/fhir</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "hl7-fhir-rest"
        },
        name: "Questionnaire Destination",
        managingOrganization: {
          display: "Telstra Health"
        },
        payloadType: [
          {
            coding: [
              {
                code: "QuestionnaireResponse"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/fhir+xml"
        ],
        address: "https://sqlonfhir-dstu2.azurewebsites.net/fhir"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/73",
      resource: {
        resourceType: "Endpoint",
        id: "73",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Referral Requests, ServiceRequest<br/>\n              Address: https://sqlonfhir-dstu2.azurewebsites.net/fhir</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "hl7-fhir-rest"
        },
        name: "Referral Requests",
        managingOrganization: {
          display: "Telstra Health"
        },
        payloadType: [
          {
            coding: [
              {
                code: "ServiceRequest"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/fhir+xml"
        ],
        address: "https://sqlonfhir-dstu2.azurewebsites.net/fhir"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/74",
      resource: {
        resourceType: "Endpoint",
        id: "74",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Referral Requests, ServiceRequest QuestionnaireResponse<br/>\n              Address: https://open.epic.com/Interface/FHIR</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "hl7-fhir-rest"
        },
        name: "Referral Requests",
        managingOrganization: {
          display: "Epic demo organization"
        },
        payloadType: [
          {
            coding: [
              {
                code: "ServiceRequest QuestionnaireResponse"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/fhir+json"
        ],
        address: "https://open.epic.com/Interface/FHIR"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/75",
      resource: {
        resourceType: "Endpoint",
        id: "75",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Subscription receiver, ServiceRequest<br/>\n              Address: mailto:subscriptions@example.org</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "secure-email"
        },
        name: "Subscription receiver",
        managingOrganization: {
          display: "Telstra Health"
        },
        payloadType: [
          {
            coding: [
              {
                code: "ServiceRequest"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/fhir+xml"
        ],
        address: "mailto:subscriptions@example.org"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/76",
      resource: {
        resourceType: "Endpoint",
        id: "76",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              valid usecase?, CDA-EventSummary<br/>\n              Address: https://sqlonfhir-dstu2.azurewebsites.net/fhir</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "hl7-fhir-msg"
        },
        name: "valid usecase?",
        managingOrganization: {
          display: "Telstra Health"
        },
        payloadType: [
          {
            coding: [
              {
                code: "CDA-EventSummary"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/pdf"
        ],
        address: "https://sqlonfhir-dstu2.azurewebsites.net/fhir"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/77",
      resource: {
        resourceType: "Endpoint",
        id: "77",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              v2 referral Requests, REF-I12<br/>\n              Address: 127.0.0.1</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "hl7v2-mllp"
        },
        name: "v2 referral Requests",
        managingOrganization: {
          display: "Epic demo organization"
        },
        payloadType: [
          {
            coding: [
              {
                code: "REF-I12"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/hl7-v2"
        ],
        address: "127.0.0.1"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/78",
      resource: {
        resourceType: "Endpoint",
        id: "78",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              xds event summaries, CDA-EventSummary<br/>\n              Address: https://open.epic.com/Interface/XDS.b</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "ihe-xds"
        },
        name: "xds event summaries",
        managingOrganization: {
          display: "Epic demo organization"
        },
        payloadType: [
          {
            coding: [
              {
                code: "CDA-EventSummary"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/hl7-sda+xml; variant=XDA/XDS"
        ],
        address: "https://open.epic.com/Interface/XDS.b"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/79",
      resource: {
        resourceType: "Endpoint",
        id: "79",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Enterprise Image Archive, varies (application/dicom, application/dicom+xml, image/jpeg, and many more)<br/>\n              Address: https://pacs.hospital.org/dicomweb</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "dicom-wado-rs"
        },
        name: "Enterprise Image Archive",
        managingOrganization: {
          display: "Multi-site Co."
        },
        payloadType: [
          {
            coding: [
              {
                code: "varies (application/dicom, application/dicom+xml, image/jpeg, and many more)"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/dicom; variant=DICOM WADO-RS"
        ],
        address: "https://pacs.hospital.org/dicomweb"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/80",
      resource: {
        resourceType: "Endpoint",
        id: "80",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Enterprise Image Archive, varies (application/dicom, application/dicom+xml, image/jpeg, and many more)<br/>\n              Address: https://pacs.hospital.org/dicomweb</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "dicom-qido-rs"
        },
        name: "Enterprise Image Archive",
        managingOrganization: {
          display: "Multi-site Co."
        },
        payloadType: [
          {
            coding: [
              {
                code: "varies (application/dicom, application/dicom+xml, image/jpeg, and many more)"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/dicom; variant=DICOM QIDO-RS"
        ],
        address: "https://pacs.hospital.org/dicomweb"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/81",
      resource: {
        resourceType: "Endpoint",
        id: "81",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Enterprise Image Archive, varies (application/dicom, application/dicom+xml, image/jpeg, and many more)<br/>\n              Address: https://pacs.hospital.org/dicomweb</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "dicom-stow-rs"
        },
        name: "Enterprise Image Archive",
        managingOrganization: {
          display: "Multi-site Co."
        },
        payloadType: [
          {
            coding: [
              {
                code: "varies (application/dicom, application/dicom+xml, image/jpeg, and many more)"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/dicom; variant=DICOM STOW-RS"
        ],
        address: "https://pacs.hospital.org/dicomweb"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/82",
      resource: {
        resourceType: "Endpoint",
        id: "82",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Enterprise Image Archive, varies (application/dicom, application/dicom+xml, image/jpeg, and many more)<br/>\n              Address: https://pacs.hospital.org/dicomweb</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "dicom-stow-rs"
        },
        name: "Enterprise Image Archive",
        managingOrganization: {
          display: "Multi-site Co."
        },
        payloadType: [
          {
            coding: [
              {
                code: "varies (application/dicom, application/dicom+xml, image/jpeg, and many more)"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/dicom; variant=DICOM STOW-RS"
        ],
        address: "https://pacs.hospital.org/dicomweb"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/83",
      resource: {
        resourceType: "Endpoint",
        id: "83",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Enterprise Image Archive, varies (application/dicom, application/dicom+xml, image/jpeg, and many more)<br/>\n              Address: https://pacs.hospital.org/wadoUri</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "dicom-wado-uri"
        },
        name: "Enterprise Image Archive",
        managingOrganization: {
          display: "Multi-site Co."
        },
        payloadType: [
          {
            coding: [
              {
                code: "varies (application/dicom, application/dicom+xml, image/jpeg, and many more)"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/dicom; variant=DICOM WADO-URI"
        ],
        address: "https://pacs.hospital.org/wadoUri"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/84",
      resource: {
        resourceType: "Endpoint",
        id: "84",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Enterprise Image Archive, varies (application/dicom, application/dicom+xml, image/jpeg, and many more)<br/>\n              Address: https://pacs.hospital.org/IHEInvokeImageDisplay</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "ihe-iid"
        },
        name: "Enterprise Image Archive",
        managingOrganization: {
          display: "Multi-site Co."
        },
        payloadType: [
          {
            coding: [
              {
                code: "varies (application/dicom, application/dicom+xml, image/jpeg, and many more)"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/dicom; variant=IHE IID"
        ],
        address: "https://pacs.hospital.org/IHEInvokeImageDisplay"
      }
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\Endpoint\_search:fhir-r4-endpoint-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  resourceType: "Bundle",
  id: "b0a5e4277-83c4-4adb-87e2-e3efe3369b6f",
  meta: {
    lastUpdated: "2012-05-29T23:45:32Z"
  },
  "type": "collection",
  entry: [
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/71",
      resource: {
        resourceType: "Endpoint",
        id: "71",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              CarePlan repository, CarePlan<br/>\n              Address: https://sqlonfhir-dstu2.azurewebsites.net/fhir</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "hl7-fhir-rest"
        },
        name: "CarePlan repository",
        managingOrganization: {
          display: "Telstra Health"
        },
        payloadType: [
          {
            coding: [
              {
                code: "CarePlan"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/fhir+xml"
        ],
        address: "https://sqlonfhir-dstu2.azurewebsites.net/fhir"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/72",
      resource: {
        resourceType: "Endpoint",
        id: "72",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Questionnaire Destination, QuestionnaireResponse<br/>\n              Address: https://sqlonfhir-dstu2.azurewebsites.net/fhir</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "hl7-fhir-rest"
        },
        name: "Questionnaire Destination",
        managingOrganization: {
          display: "Telstra Health"
        },
        payloadType: [
          {
            coding: [
              {
                code: "QuestionnaireResponse"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/fhir+xml"
        ],
        address: "https://sqlonfhir-dstu2.azurewebsites.net/fhir"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/73",
      resource: {
        resourceType: "Endpoint",
        id: "73",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Referral Requests, ServiceRequest<br/>\n              Address: https://sqlonfhir-dstu2.azurewebsites.net/fhir</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "hl7-fhir-rest"
        },
        name: "Referral Requests",
        managingOrganization: {
          display: "Telstra Health"
        },
        payloadType: [
          {
            coding: [
              {
                code: "ServiceRequest"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/fhir+xml"
        ],
        address: "https://sqlonfhir-dstu2.azurewebsites.net/fhir"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/74",
      resource: {
        resourceType: "Endpoint",
        id: "74",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Referral Requests, ServiceRequest QuestionnaireResponse<br/>\n              Address: https://open.epic.com/Interface/FHIR</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "hl7-fhir-rest"
        },
        name: "Referral Requests",
        managingOrganization: {
          display: "Epic demo organization"
        },
        payloadType: [
          {
            coding: [
              {
                code: "ServiceRequest QuestionnaireResponse"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/fhir+json"
        ],
        address: "https://open.epic.com/Interface/FHIR"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/75",
      resource: {
        resourceType: "Endpoint",
        id: "75",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Subscription receiver, ServiceRequest<br/>\n              Address: mailto:subscriptions@example.org</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "secure-email"
        },
        name: "Subscription receiver",
        managingOrganization: {
          display: "Telstra Health"
        },
        payloadType: [
          {
            coding: [
              {
                code: "ServiceRequest"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/fhir+xml"
        ],
        address: "mailto:subscriptions@example.org"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/76",
      resource: {
        resourceType: "Endpoint",
        id: "76",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              valid usecase?, CDA-EventSummary<br/>\n              Address: https://sqlonfhir-dstu2.azurewebsites.net/fhir</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "hl7-fhir-msg"
        },
        name: "valid usecase?",
        managingOrganization: {
          display: "Telstra Health"
        },
        payloadType: [
          {
            coding: [
              {
                code: "CDA-EventSummary"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/pdf"
        ],
        address: "https://sqlonfhir-dstu2.azurewebsites.net/fhir"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/77",
      resource: {
        resourceType: "Endpoint",
        id: "77",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              v2 referral Requests, REF-I12<br/>\n              Address: 127.0.0.1</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "hl7v2-mllp"
        },
        name: "v2 referral Requests",
        managingOrganization: {
          display: "Epic demo organization"
        },
        payloadType: [
          {
            coding: [
              {
                code: "REF-I12"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/hl7-v2"
        ],
        address: "127.0.0.1"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/78",
      resource: {
        resourceType: "Endpoint",
        id: "78",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              xds event summaries, CDA-EventSummary<br/>\n              Address: https://open.epic.com/Interface/XDS.b</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "ihe-xds"
        },
        name: "xds event summaries",
        managingOrganization: {
          display: "Epic demo organization"
        },
        payloadType: [
          {
            coding: [
              {
                code: "CDA-EventSummary"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/hl7-sda+xml; variant=XDA/XDS"
        ],
        address: "https://open.epic.com/Interface/XDS.b"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/79",
      resource: {
        resourceType: "Endpoint",
        id: "79",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Enterprise Image Archive, varies (application/dicom, application/dicom+xml, image/jpeg, and many more)<br/>\n              Address: https://pacs.hospital.org/dicomweb</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "dicom-wado-rs"
        },
        name: "Enterprise Image Archive",
        managingOrganization: {
          display: "Multi-site Co."
        },
        payloadType: [
          {
            coding: [
              {
                code: "varies (application/dicom, application/dicom+xml, image/jpeg, and many more)"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/dicom; variant=DICOM WADO-RS"
        ],
        address: "https://pacs.hospital.org/dicomweb"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/80",
      resource: {
        resourceType: "Endpoint",
        id: "80",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Enterprise Image Archive, varies (application/dicom, application/dicom+xml, image/jpeg, and many more)<br/>\n              Address: https://pacs.hospital.org/dicomweb</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "dicom-qido-rs"
        },
        name: "Enterprise Image Archive",
        managingOrganization: {
          display: "Multi-site Co."
        },
        payloadType: [
          {
            coding: [
              {
                code: "varies (application/dicom, application/dicom+xml, image/jpeg, and many more)"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/dicom; variant=DICOM QIDO-RS"
        ],
        address: "https://pacs.hospital.org/dicomweb"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/81",
      resource: {
        resourceType: "Endpoint",
        id: "81",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Enterprise Image Archive, varies (application/dicom, application/dicom+xml, image/jpeg, and many more)<br/>\n              Address: https://pacs.hospital.org/dicomweb</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "dicom-stow-rs"
        },
        name: "Enterprise Image Archive",
        managingOrganization: {
          display: "Multi-site Co."
        },
        payloadType: [
          {
            coding: [
              {
                code: "varies (application/dicom, application/dicom+xml, image/jpeg, and many more)"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/dicom; variant=DICOM STOW-RS"
        ],
        address: "https://pacs.hospital.org/dicomweb"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/82",
      resource: {
        resourceType: "Endpoint",
        id: "82",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Enterprise Image Archive, varies (application/dicom, application/dicom+xml, image/jpeg, and many more)<br/>\n              Address: https://pacs.hospital.org/dicomweb</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "dicom-stow-rs"
        },
        name: "Enterprise Image Archive",
        managingOrganization: {
          display: "Multi-site Co."
        },
        payloadType: [
          {
            coding: [
              {
                code: "varies (application/dicom, application/dicom+xml, image/jpeg, and many more)"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/dicom; variant=DICOM STOW-RS"
        ],
        address: "https://pacs.hospital.org/dicomweb"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/83",
      resource: {
        resourceType: "Endpoint",
        id: "83",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Enterprise Image Archive, varies (application/dicom, application/dicom+xml, image/jpeg, and many more)<br/>\n              Address: https://pacs.hospital.org/wadoUri</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "dicom-wado-uri"
        },
        name: "Enterprise Image Archive",
        managingOrganization: {
          display: "Multi-site Co."
        },
        payloadType: [
          {
            coding: [
              {
                code: "varies (application/dicom, application/dicom+xml, image/jpeg, and many more)"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/dicom; variant=DICOM WADO-URI"
        ],
        address: "https://pacs.hospital.org/wadoUri"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/84",
      resource: {
        resourceType: "Endpoint",
        id: "84",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Enterprise Image Archive, varies (application/dicom, application/dicom+xml, image/jpeg, and many more)<br/>\n              Address: https://pacs.hospital.org/IHEInvokeImageDisplay</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "ihe-iid"
        },
        name: "Enterprise Image Archive",
        managingOrganization: {
          display: "Multi-site Co."
        },
        payloadType: [
          {
            coding: [
              {
                code: "varies (application/dicom, application/dicom+xml, image/jpeg, and many more)"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/dicom; variant=IHE IID"
        ],
        address: "https://pacs.hospital.org/IHEInvokeImageDisplay"
      }
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\Endpoint\(id):fhir-r4-endpoint-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  resourceType: "Endpoint",
  id: "example",
  text: {
    status: "generated",
    div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n\t\t\tHealth Intersections CarePlan Hub<br/>\n\t\t\tCarePlans can be uploaded to/from this loccation\n\t\t</div>"
  },
  identifier: [
    {
      system: "http://example.org/enpoint-identifier",
      value: "epcp12"
    }
  ],
  status: "active",
  connectionType: {
    system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
    code: "hl7-fhir-rest"
  },
  name: "Health Intersections CarePlan Hub",
  managingOrganization: {
    reference: "Organization/hl7"
  },
  contact: [
    {
      system: "email",
      value: "endpointmanager@example.org",
      use: "work"
    }
  ],
  period: {
    start: "2014-09-01"
  },
  payloadType: [
    {
      coding: [
        {
          system: "http://hl7.org/fhir/resource-types",
          code: "CarePlan"
        }
      ]
    }
  ],
  payloadMimeType: [
    "application/fhir+xml"
  ],
  address: "http://fhir3.healthintersections.com.au/open/CarePlan",
  header: [
    "bearer-code BASGS534s4"
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\Endpoint\(id)\_history\(vid):fhir-r4-endpoint-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
                <ee:set-variable variableName="vid">attributes.uriParams.'vid'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  resourceType: "Endpoint",
  text: {
    status: "generated",
    div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n\t\t\tHealth Intersections CarePlan Hub<br/>\n\t\t\tCarePlans can be uploaded to/from this loccation\n\t\t</div>"
  },
  identifier: [
    {
      system: "http://example.org/enpoint-identifier",
      value: "epcp12"
    }
  ],
  status: "active",
  connectionType: {
    system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
    code: "hl7-fhir-rest"
  },
  name: "Health Intersections CarePlan Hub",
  managingOrganization: {
    reference: "Organization/hl7"
  },
  contact: [
    {
      system: "email",
      value: "endpointmanager@example.org",
      use: "work"
    }
  ],
  period: {
    start: "2014-09-01"
  },
  payloadType: [
    {
      coding: [
        {
          system: "http://hl7.org/fhir/resource-types",
          code: "CarePlan"
        }
      ]
    }
  ],
  payloadMimeType: [
    "application/fhir+xml"
  ],
  address: "http://fhir3.healthintersections.com.au/open/CarePlan",
  header: [
    "bearer-code BASGS534s4"
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\Endpoint:application\fhir+json:fhir-r4-endpoint-api-config">
        <logger level="INFO" message="post:\Endpoint:application\fhir+json:fhir-r4-endpoint-api-config" />
    </flow>
    <flow name="post:\Endpoint:application\fhir+xml:fhir-r4-endpoint-api-config">
        <logger level="INFO" message="post:\Endpoint:application\fhir+xml:fhir-r4-endpoint-api-config" />
    </flow>
    <flow name="post:\Endpoint\_search:application\x-www-form-urlencoded:fhir-r4-endpoint-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  resourceType: "Bundle",
  id: "b0a5e4277-83c4-4adb-87e2-e3efe3369b6f",
  meta: {
    lastUpdated: "2012-05-29T23:45:32Z"
  },
  "type": "collection",
  entry: [
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/71",
      resource: {
        resourceType: "Endpoint",
        id: "71",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              CarePlan repository, CarePlan<br/>\n              Address: https://sqlonfhir-dstu2.azurewebsites.net/fhir</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "hl7-fhir-rest"
        },
        name: "CarePlan repository",
        managingOrganization: {
          display: "Telstra Health"
        },
        payloadType: [
          {
            coding: [
              {
                code: "CarePlan"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/fhir+xml"
        ],
        address: "https://sqlonfhir-dstu2.azurewebsites.net/fhir"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/72",
      resource: {
        resourceType: "Endpoint",
        id: "72",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Questionnaire Destination, QuestionnaireResponse<br/>\n              Address: https://sqlonfhir-dstu2.azurewebsites.net/fhir</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "hl7-fhir-rest"
        },
        name: "Questionnaire Destination",
        managingOrganization: {
          display: "Telstra Health"
        },
        payloadType: [
          {
            coding: [
              {
                code: "QuestionnaireResponse"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/fhir+xml"
        ],
        address: "https://sqlonfhir-dstu2.azurewebsites.net/fhir"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/73",
      resource: {
        resourceType: "Endpoint",
        id: "73",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Referral Requests, ServiceRequest<br/>\n              Address: https://sqlonfhir-dstu2.azurewebsites.net/fhir</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "hl7-fhir-rest"
        },
        name: "Referral Requests",
        managingOrganization: {
          display: "Telstra Health"
        },
        payloadType: [
          {
            coding: [
              {
                code: "ServiceRequest"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/fhir+xml"
        ],
        address: "https://sqlonfhir-dstu2.azurewebsites.net/fhir"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/74",
      resource: {
        resourceType: "Endpoint",
        id: "74",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Referral Requests, ServiceRequest QuestionnaireResponse<br/>\n              Address: https://open.epic.com/Interface/FHIR</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "hl7-fhir-rest"
        },
        name: "Referral Requests",
        managingOrganization: {
          display: "Epic demo organization"
        },
        payloadType: [
          {
            coding: [
              {
                code: "ServiceRequest QuestionnaireResponse"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/fhir+json"
        ],
        address: "https://open.epic.com/Interface/FHIR"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/75",
      resource: {
        resourceType: "Endpoint",
        id: "75",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Subscription receiver, ServiceRequest<br/>\n              Address: mailto:subscriptions@example.org</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "secure-email"
        },
        name: "Subscription receiver",
        managingOrganization: {
          display: "Telstra Health"
        },
        payloadType: [
          {
            coding: [
              {
                code: "ServiceRequest"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/fhir+xml"
        ],
        address: "mailto:subscriptions@example.org"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/76",
      resource: {
        resourceType: "Endpoint",
        id: "76",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              valid usecase?, CDA-EventSummary<br/>\n              Address: https://sqlonfhir-dstu2.azurewebsites.net/fhir</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "hl7-fhir-msg"
        },
        name: "valid usecase?",
        managingOrganization: {
          display: "Telstra Health"
        },
        payloadType: [
          {
            coding: [
              {
                code: "CDA-EventSummary"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/pdf"
        ],
        address: "https://sqlonfhir-dstu2.azurewebsites.net/fhir"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/77",
      resource: {
        resourceType: "Endpoint",
        id: "77",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              v2 referral Requests, REF-I12<br/>\n              Address: 127.0.0.1</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "hl7v2-mllp"
        },
        name: "v2 referral Requests",
        managingOrganization: {
          display: "Epic demo organization"
        },
        payloadType: [
          {
            coding: [
              {
                code: "REF-I12"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/hl7-v2"
        ],
        address: "127.0.0.1"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/78",
      resource: {
        resourceType: "Endpoint",
        id: "78",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              xds event summaries, CDA-EventSummary<br/>\n              Address: https://open.epic.com/Interface/XDS.b</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "ihe-xds"
        },
        name: "xds event summaries",
        managingOrganization: {
          display: "Epic demo organization"
        },
        payloadType: [
          {
            coding: [
              {
                code: "CDA-EventSummary"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/hl7-sda+xml; variant=XDA/XDS"
        ],
        address: "https://open.epic.com/Interface/XDS.b"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/79",
      resource: {
        resourceType: "Endpoint",
        id: "79",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Enterprise Image Archive, varies (application/dicom, application/dicom+xml, image/jpeg, and many more)<br/>\n              Address: https://pacs.hospital.org/dicomweb</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "dicom-wado-rs"
        },
        name: "Enterprise Image Archive",
        managingOrganization: {
          display: "Multi-site Co."
        },
        payloadType: [
          {
            coding: [
              {
                code: "varies (application/dicom, application/dicom+xml, image/jpeg, and many more)"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/dicom; variant=DICOM WADO-RS"
        ],
        address: "https://pacs.hospital.org/dicomweb"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/80",
      resource: {
        resourceType: "Endpoint",
        id: "80",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Enterprise Image Archive, varies (application/dicom, application/dicom+xml, image/jpeg, and many more)<br/>\n              Address: https://pacs.hospital.org/dicomweb</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "dicom-qido-rs"
        },
        name: "Enterprise Image Archive",
        managingOrganization: {
          display: "Multi-site Co."
        },
        payloadType: [
          {
            coding: [
              {
                code: "varies (application/dicom, application/dicom+xml, image/jpeg, and many more)"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/dicom; variant=DICOM QIDO-RS"
        ],
        address: "https://pacs.hospital.org/dicomweb"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/81",
      resource: {
        resourceType: "Endpoint",
        id: "81",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Enterprise Image Archive, varies (application/dicom, application/dicom+xml, image/jpeg, and many more)<br/>\n              Address: https://pacs.hospital.org/dicomweb</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "dicom-stow-rs"
        },
        name: "Enterprise Image Archive",
        managingOrganization: {
          display: "Multi-site Co."
        },
        payloadType: [
          {
            coding: [
              {
                code: "varies (application/dicom, application/dicom+xml, image/jpeg, and many more)"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/dicom; variant=DICOM STOW-RS"
        ],
        address: "https://pacs.hospital.org/dicomweb"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/82",
      resource: {
        resourceType: "Endpoint",
        id: "82",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Enterprise Image Archive, varies (application/dicom, application/dicom+xml, image/jpeg, and many more)<br/>\n              Address: https://pacs.hospital.org/dicomweb</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "dicom-stow-rs"
        },
        name: "Enterprise Image Archive",
        managingOrganization: {
          display: "Multi-site Co."
        },
        payloadType: [
          {
            coding: [
              {
                code: "varies (application/dicom, application/dicom+xml, image/jpeg, and many more)"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/dicom; variant=DICOM STOW-RS"
        ],
        address: "https://pacs.hospital.org/dicomweb"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/83",
      resource: {
        resourceType: "Endpoint",
        id: "83",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Enterprise Image Archive, varies (application/dicom, application/dicom+xml, image/jpeg, and many more)<br/>\n              Address: https://pacs.hospital.org/wadoUri</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "dicom-wado-uri"
        },
        name: "Enterprise Image Archive",
        managingOrganization: {
          display: "Multi-site Co."
        },
        payloadType: [
          {
            coding: [
              {
                code: "varies (application/dicom, application/dicom+xml, image/jpeg, and many more)"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/dicom; variant=DICOM WADO-URI"
        ],
        address: "https://pacs.hospital.org/wadoUri"
      }
    }, 
    {
      fullUrl: "http://hl7.org/fhir/Endpoint/84",
      resource: {
        resourceType: "Endpoint",
        id: "84",
        text: {
          status: "generated",
          div: "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n              Enterprise Image Archive, varies (application/dicom, application/dicom+xml, image/jpeg, and many more)<br/>\n              Address: https://pacs.hospital.org/IHEInvokeImageDisplay</div>"
        },
        status: "active",
        connectionType: {
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type",
          code: "ihe-iid"
        },
        name: "Enterprise Image Archive",
        managingOrganization: {
          display: "Multi-site Co."
        },
        payloadType: [
          {
            coding: [
              {
                code: "varies (application/dicom, application/dicom+xml, image/jpeg, and many more)"
              }
            ]
          }
        ],
        payloadMimeType: [
          "application/dicom; variant=IHE IID"
        ],
        address: "https://pacs.hospital.org/IHEInvokeImageDisplay"
      }
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
